<div id="navigation">
     <ul class="nav" id="side-menu">
          <li>
               <a href="@Url.Action("Index", "Home")"> <span class="nav-label">Nirvana</span> <span class="label label-success pull-right">v.1</span> </a>
          </li>
          <li>
               <a href="@Url.Action("Top100", "Home")"> <span class="nav-label">TOP100</span><span class="label label-warning pull-right">NEW</span> </a>
          </li>
          <li class="active">
               <a href="#"><span class="nav-label">Interface</span><span class="fa arrow"></span> </a>
               <ul class="nav nav-second-level">
                    <li><a href="@Url.Action("FAQ", "Home")">FAQ</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
               </ul>
          </li>

     </ul>
</div>