
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "Home";
}

<div class="normalheader ">
     <div class="hpanel">
          <div class="panel-body">
               <a class="small-header-action" href="">
                    <div class="clip-header">
                         <i class="fa fa-arrow-up"></i>
                    </div>
               </a>

               <div id="hbreadcrumb" class="pull-right m-t-lg">
                    <ol class="hbreadcrumb breadcrumb">
                         <li>
                              <span>App views</span>
                         </li>
                         <li class="active">
                              <span>About</span>
                         </li>
                    </ol>
               </div>
               <h2 class="font-light m-b-xs">
                    About
               </h2>
               <small>About page - build faq/support page for your app</small>
          </div>
     </div>
</div>

<div class="content content-boxed">
     <div class="row">
          <div class="col-lg-12">
               <div class="hpanel blog-article-box">
                    <div class="panel-heading">
                         <h4>Про сайт Homer </h4>
                         <small>There are many variations of passages of Lorem Ipsum available</small>
                    </div>
                    <div class="panel-body">
                         <div class="row">
                              <div>
                                   <h2> Описание: </h2>
                                   <div style="text-align: justify;">
                                        <h4>
                                             .   Сайт Homer существует с мая 2011 года, а точнее с 27-го мая, именно в этот день был зарегистрирован домен yummyanime.com. Сам сайт, разумеется, был создан уже позже, но 27-е мая все равно считается нашим днем рождения. Изначально на нем выкладывались только полнометражные аниме, но спустя какое-то время стали появляться и сериалы.

                                             В январе 2015 года сайт был полностью переписан с нуля, изменился также полностью дизайн.
                                        </h4>
                                   </div>
                              </div>
                              <div class="panel-heading">

                                   <h1></h1>
                                   <h2>Наша команда</h2>
                                   <h3>Люди, которые заботятся о проекте YummyAnime</h3>
                              </div>
                         </div>
                         <div class="row">
                              <style>
                                   .column {
                                        float: left;
                                        width: 50%;
                                   }
                              </style>
                              <div class="column">
                                   <div style="text-align:center">
                                        <h3>
                                             Создатель и главный администратор
                                        </h3>
                                        <h4>Naruto</h4>
                                        <img alt="logo" class="img-circle m-b" src="~/Content/img/2vkDe3RcnZY.jpg">

                                   </div>
                              </div>
                              <div class="column">
                                   <div style="text-align:center">
                                        <h3>
                                             ТЕХНИЧЕСКАЯ ПОДДЕРЖКА
                                        </h3>
                                        <h4>ABC</h4>
                                        <img alt="logo" class="img-circle m-b" src="~/Content/img/OrKYvBe.jpg">

                                   </div>
                              </div>
                         </div>
                         </div>
                         <div class="panel-footer">
                         </div>
                    </div>
          </div>
     </div>
</div>